html {
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ff895f;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 125px;
  color: white;
  font-size: 60px;
  text-align: center;

  font-family: 'Pacifico', cursive;
}

.logo {
  margin-right: 15px;
  height: 60px;
}

.single-lecture-header {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  position: fixed;
}

.notes {
  margin-top: 160px;
}

.note {
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;

  border-radius: 3px;
  box-shadow: 0 0 2em lightgray;

  float: left;
}

.active {
  box-shadow: 0 0 2em gold;
}

.note-img {
  width: 100%;
  border-radius: 2px;
}


.lectures {
  margin-top: 120px;
}

.lecture {
  height: 130px;
  margin: auto;
  padding: 8px;
  padding-left: 30px;
  padding-top: 50px;
}

.lecture:not(:last-child) {
  border-bottom: 1px dashed #acacac;
}

.date {
  width: 85px;
  height: 85px;
  background-color: #333333;
  color: white;
  font-size: 36px;
  text-align: center;

  float: left;
}

.day {
  margin: auto;
  margin-top: 8px;
}

.month {
  font-size: 20px;
  margin-top: -4px;
}

.time {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 40px;
  color: #cccccc;
  width: 156px;
}

.lecture-title {
  float: left;
  font-size: 40px;
  margin-left: 45px;
  color: #545454;
  margin-top: 30px;
  cursor: pointer;
}

.lecture-title:hover {
  color: #ff895f;
}

.lecture-size {
  float: right;

  font-size: 30px;
  color: #dddddd;

  margin-top: 30px;
  margin-right: 10px;
}

.camera {
  float: right;
  margin-top: 35px;
  margin-right: 15px;
}

.play-pause-button {
  width: 40px;
  height: 40px;
  padding: 4px;
  padding-left: 5px;
  background: url('/linker/images/PlayBT.png') no-repeat center;
  margin: auto;
  border: 2px solid white;
  border-radius: 24px;
  margin-top: 10px;
}

.total-progress {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  margin-bottom: 10px;
}

.total-progress::-webkit-progress-bar {
  background-color: white;
}

.total-progress::-webkit-progress-value {
  background-color: black;
}

.note-play {
  width: 40px;
  height: 40px;
  background: url(/linker/images/PlayGreyBT.png) no-repeat center;
  float: left;
  margin-left: 20%;
  margin-right: 10px;
  margin-top: 200px;

  padding: 8px;

  border: 1px solid #dddddd;
  border-radius: 28px;
}

input.lecture-name {
  border: 0;
  background: transparent;
  color: white;
  font-size: 30px;
  text-align: center;
}
